@page "/Dungeon"
@using DBL
@using Models
@inject NavigationManager NavMan
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage Session
@using System.Media;



<ul>
    @if (LoggedUser is not null)
    {
        <li>
            <button @onclick="Back" class="perma_name generic-btn">
                Go back to the lobby
            </button>
        </li>

        @if (Selected is not null)
        {
            <navname>
                <div class="perma_name generic-btn">
                    Playing as @Selected.name
                </div>
            </navname>
        }
        <navname>
            <div class="perma_name generic-btn">
                The Dungeon
            </div>
        </navname>
    }
</ul>

@if (LoggedUser is not null)
{
    <table>
        <td style="background-color:rgba(51, 51, 51, 0.25); max-width:15%">
            @if (Selected is not null)
            {
                <div class="generic-btn" style="padding:10px;">
                    <div style="font-family:Forte; text-align:center; font-size:30px;">
                        @Selected.name
                    </div>
                    <div style="font-family:Forte; text-align:center; font-size:20px;">
                        Character stats: <br />
                        HP: @Selected.hp <br />
                        Coins: @Selected.coins <br />
                        Mana: @Selected.mana <br />
                    </div>
                </div>
                <br />
                
            }
        </td>
        <td style="background-color: rgba(51,51,51,0.25); max-width:45%">
            @if (PlayerInventory is not null)
            {
                <div style="display:flex; flex-flow: column wrap; overflow:auto; max-height:750px;">
                    @foreach (Dictionary<string, object> inv in PlayerInventory)
                    {
                        @if (IsItemNotArmor(inv))
                        {
                            <button class="generic-btn" style="padding: 10px;" @onclick="() => SelectItem(inv)">
                                <div style="font-family:Forte; text-align:center; font-size:30px;">
                                    @*Image icon goes here*@
                                    @inv["Name"]
                                </div>
                                <div style="font-family:Forte; text-align:center; font-size:20px;">
                                    Item info: <br />
                                    Item Level: @inv["Item_Level"] | Amount owned: @inv["Amount"]/@inv["MaxStack"] <br />
                                    Item rarity: @GetRarityString(Convert.ToInt32(inv["Rarity"].ToString())) | Value per item: @inv["Value"] <br />
                                </div>
                            </button>
                        }
                    }
                </div>
            }
        </td>
        <td style="background-color: rgba(51, 51, 51, 0.25); max-width:50%; vertical-align:central">
            @if (current is not null)
            {
                <div style="display:flex; flex-flow: column wrap; overflow:auto; max-height:750px; max-width: 369px;">
                    <button class="generic-btn" style="vertical-align:middle;">
                        <div style="font-family:Forte; font-size:30px;">
                            <img src=@GetImageIcon(current.filepath) />
                            @current.name
                        </div>
                        <div style="font-family:Forte; text-align:center; font-size:20px;">
                            HP: @current.hp / @Ghost.hp
                            Defense: @current.defense <br />
                            Rarity: @GetRarityString(current.rarity) <br />
                            <div style="max-width: 369px; font-size:15px; font-family:sans-serif">
                                @current.description
                            </div>
                        </div>
                    </button>
                    <button class="generic-btn" @onclick="DamageMonster" style="max-width: 369px;">
                        <div class="perma_name">
                            Damage the monster
                        </div>
                    </button>
                </div>
            }
            else
            {
                <button class="generic-btn" @onclick="SelectMonster">
                    <div class="header">
                        Start fighting monsters here!
                    </div>
                </button>
            }
        </td>
        <td style="background-color: rgba(51, 51, 51, 0.25); max-width:50%; vertical-align:central"> 
            @if (SelectedItem is not null && current is not null)
            {
                <div class="generic-btn perma_name">
                    Attacks you can do with @SelectedItem["Name"] <br />
                    Click an attack to execute it
                </div> <br />
                @foreach (Dictionary<string,object> ItmAtk in ItemAttacks)
                {
                    <button class="generic-btn" @onclick="() => DamageMonster(ItmAtk)">
                        <div style="font-family:Forte; text-align:center; font-size:20px;">
                            @ItmAtk["Name"] -- @ItmAtk["Damage"] damage <br />
                            Lasts for @ItmAtk["Duration"] turns <br />
                        </div>
                    </button>
                }
            }
        </td>
    </table>
}



@code {
    List<Monster> Monsters; Monster current; Monster Ghost;
    Player Selected; User LoggedUser;
    Dictionary<string, object> SelectedItem;
    string Login = "Login";
    Random Jerry = new Random();
    List<Dictionary<string, object>> PlayerInventory = new List<Dictionary<string, object>>();
    List<Dictionary<string, object>> PlayerEntries = new List<Dictionary<string, object>>();
    List<Element> Elements = new List<Element>();
    List<Item_Type_Name> Item_Type_Names = new List<Item_Type_Name>();
    List<Dictionary<string, object>> ItemAttacks = new List<Dictionary<string, object>>();
    List<Dictionary<string, object>> MonsterAttacks = new List<Dictionary<string, object>>();
    Dictionary<string, object> SelectedAttack = new Dictionary<string, object>();
    protected override async Task OnInitializedAsync()
    {
        try
        {
            Monsters = await Middleman.GetMonsters(false);
            var GetPlayer = await Session.GetAsync<Player>("Selected player");
            if (GetPlayer.Success) { Selected = new Player(GetPlayer.Value); }
            var GetUser = await Session.GetAsync<User>("Logged user");
            if (GetUser.Success) { LoggedUser = new User(GetUser.Value); }
            var GetInventory = await Session.GetAsync<List<Dictionary<string, object>>>("Player's inventory");
            if (GetInventory.Success) { PlayerInventory = GetInventory.Value; }
            var GetEntries = await Session.GetAsync<List<Dictionary<string, object>>>("Player's entries");
            if (GetEntries.Success) { PlayerEntries = GetEntries.Value; }
            Elements = await Middleman.GetAllElements();
            Item_Type_Names = await Middleman.GetAllItem_Type_Names();
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            await Task.Delay(150);
            await Back();
        }
    }
    private async Task SelectMonster()
    { 
        current = new Monster(Monsters[Jerry.Next(0, Monsters.Count)]);
        Ghost = new Monster(current);
        MonsterAttacks = await Middleman.GetMonsterAttacks(Ghost);
        await InvokeAsync(StateHasChanged);
    }
    private async Task DamageMonster()
    {
        int damage = Jerry.Next(1, 6);
        damage -= current.defense;
        if (damage <= 0) damage = 1;
        current.hp -= damage;
        if (current.hp <= 0) 
        { 
            if (Jerry.Next(0, 1001) == 0)
            {
                string filepath = "F:\\repos\\FinalProj12\\WebsiteApp\\wwwroot\\misc\\TheFunnyAudio.wav";
                SoundPlayer player = new SoundPlayer(filepath);
                try { player.Play(); }
                catch (Exception e){}
            }
            await OnMonsterKilled();
            await SelectMonster(); 
        }
    }
    private async Task DamageMonster(Dictionary<string,object> attack)
    {
        int basedamage = Convert.ToInt32(attack["Damage"].ToString());
        if (basedamage < 0)
        {
            basedamage -= (Convert.ToInt32(SelectedItem["ItemIncrement"].ToString()) * Convert.ToInt32(SelectedItem["Item_Level"].ToString()));
            Selected.hp -= basedamage;
            int stackamount = Convert.ToInt32(SelectedItem["Amount"].ToString());
            await Middleman.UseItem(SelectedItem);
            stackamount--;
            SelectedItem["Amount"] = stackamount;
            if (stackamount <= 0) { SelectedItem = null; return; }
            foreach (Dictionary<string,object> eeee in PlayerInventory)
            {
                if (eeee["InventoryID"] == SelectedItem["InventoryID"])
                {
                    eeee["Amount"] = SelectedItem["Amount"];
                    await MonsterTurn();
                    break;
                }
            }
        }
        else
        {
            int amplifiedDamage = basedamage + (Convert.ToInt32(SelectedItem["ItemIncrement"].ToString()) * Convert.ToInt32(SelectedItem["Item_Level"].ToString()));
            int damage = Jerry.Next((int)(amplifiedDamage * 0.9), (int)(amplifiedDamage * 1.1));
            damage -= current.defense;
            if (damage <= 0) damage = 1; //Pity mechanic
            current.hp -= damage;
            if (current.hp <= 0)
            {
                if (Jerry.Next(0, 1001) == 0)
                {
                    string filepath = "F:\\repos\\FinalProj12\\WebsiteApp\\wwwroot\\misc\\TheFunnyAudio.wav";
                    SoundPlayer player = new SoundPlayer(filepath);
                    try { player.Play(); }
                    catch (Exception e) { }
                }
                await OnMonsterKilled();
                await SelectMonster();
            }
            else
            {
                await MonsterTurn();
            }
        }
    }
    private async Task MonsterTurn()
    {
        Dictionary<string, object> AttackToDo = new Dictionary<string, object>();
        if (MonsterAttacks.Count > 1) { AttackToDo = MonsterAttacks[Jerry.Next(0, MonsterAttacks.Count)]; }
        else { AttackToDo = MonsterAttacks[0]; }
        int basedamage = Convert.ToInt32(AttackToDo["Damage"].ToString());
        if (basedamage < 0) { basedamage = 1; }
        Selected.hp -= basedamage;
    }
    private async Task Back() 
    {
        var GetPlayer = await Session.GetAsync<Player>("Selected player");
        if (GetPlayer.Success) 
        { 
            await Middleman.UpdatePlayer(GetPlayer.Value,Selected); 
        } 
        NavMan.NavigateTo("/Lobby"); 
    }
    private async Task Escape()
    {
        int chance = Jerry.Next( 0, Math.Abs(Selected.hp - current.hp) ); 
    }
    private string GetImageIcon(String s) { return $"/img/{s}"; }
    private string GetRarityString(int Rarity)
    {
        string ret = string.Empty;
        for (int i = 0; i < Rarity; i++)
        {
            ret += "⭐";
        }
        return ret;
    }
    private bool IsItemNotArmor(Dictionary<string,object> item)
    {
        if (Convert.ToInt32(item["ItemType"].ToString()) == 4) { return false; }
        return true;
    }
    private async Task OnMonsterKilled()
    {
        Selected = await Middleman.AwardPlayerForKill(Ghost, Selected);
        await Middleman.RegisterEntry(Selected,Ghost,PlayerEntries);
        var GetPlayer = await Session.GetAsync<Player>("Selected player");
        if (GetPlayer.Success)
        {
            await Middleman.UpdatePlayer(GetPlayer.Value, Selected);
        }
    }
    private async Task SelectItem(Dictionary<string,object> itm)
    {
        SelectedItem = itm;
        int itmid = Convert.ToInt32(itm["ItemID"].ToString());
        ItemAttacks = await Middleman.GetAttacksOfItem(itmid);
        await InvokeAsync(StateHasChanged);
    }
}