@page "/Dungeon"
@using DBL
@using Models
@inject NavigationManager NavMan
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage Session

<h1 class="header">Dungeon</h1><h6 class="header" style="font-size:10px;">THE NETHER!</h6>

<table style="width: 100%; margin: 0 auto; border-collapse: collapse;">
    <tr colspan="100%">
        @if (NoPlayerExists || NoUserExists)
        {
            <iframe width="640"
                    height="480"
                    src="https://www.youtube.com/embed/WFg0vTeXhWs"
                    title="Oh, Hi mr frog :)"
                    frameborder="0"
                    allow="autoplay; fullscreen;">
            </iframe>
            <button class="generic-btn" @onclick="() => NavMan.NavigateTo(Login)">
                <div class="perma_name">Go to the login page.<br />You are not logged in >:( </div>
            </button>
        }
        else
        {
            @if(player is not null)
            {
                <button class="generic-btn">
                    <div class="perma_name">
                        @player.name <br />
                        <div style="font-size:20px">
                            HP: @player.hp | Mana: @player.mana <br />
                            Coins: @player.coins
                        </div>
                    </div>
                    
                </button>
            }
            @if(current is not null)
            {
                <button class="generic-btn" @onclick="KillMonster">
                    <div class="perma_name">Current opponent: <img src="img/@current.filepath.Replace('_',' ')" /> 
                        @current.name <br />
                        <div style="font-size:20px">
                            KILL ITTTT
                        </div>
                    </div>
                </button>
            }
            @if(player is not null && current is null)
            {
                <button class="generic-btn" @onclick="SelectMonster">
                    <div class="perma_name">Pick a new monster!</div>
                </button>
            }
            else
            {
                <button class="generic-btn" @onclick="Back">
                    <div class="perma_name">Go back to the home page</div>
                </button>
            }
        }
    </tr>
</table>

@code {
    List<Monster> Monsters; Monster current;
    Player player; bool NoPlayerExists;
    User Logged; bool NoUserExists;
    string Login = "Login";
    Random Jerry = new Random();
    Dictionary<string, object> Monster_descriptions;

    protected override async Task OnInitializedAsync()
    {
        Monsters = await Middleman.GetMonsters(false);
        var tmp = await Session.GetAsync<Player>("Selected player");
        if (tmp.Success) { player = new Player(tmp.Value); }
        else { NoPlayerExists = true; }
        var tmp2 = await Session.GetAsync<User>("Logged user");
        if (tmp2.Success) { Logged = new User(tmp2.Value); }
        else { NoUserExists = true; }


        await InvokeAsync(StateHasChanged);
    }
    private async Task SelectMonster()
    {
        current = Monsters[Jerry.Next(0,Monsters.Count)];

        Monster_descriptions = await Middleman.DescribeMonster(current);
        switch (current.isboss)
        {
            case 0: Monster_descriptions["IsBoss"] = "normal enemy"; break;
            case 1: Monster_descriptions["IsBoss"] = "miniboss"; break;
            case 2: Monster_descriptions["IsBoss"] = "boss"; break;
        } //Is it a boss

        await InvokeAsync(StateHasChanged);
    }
    private async Task KillMonster()
    {
        await Middleman.RegisterEntry(player, current);
        player = await Middleman.AwardPlayerForKill(current, player);
        await SelectMonster();
    }
    private async Task Back() { NavMan.NavigateTo("/"); }
}
