@page "/Manage"
@using DBL
@using Models
@inject NavigationManager NavMan
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage Session
<ul>
    <li><button class="generic-btn" @onclick="() => SetDisplayMode(0)"><div class="perma_name">Manage all users</div></button></li>
    <li><button class="generic-btn" @onclick="() => SetDisplayMode(1)"><div class="perma_name">Manage monsters</div></button></li>
    <li><button class="generic-btn" @onclick="() => SetDisplayMode(2)"><div class="perma_name">Manage items</div></button></li>
    <li><button class="generic-btn" @onclick="() => SetDisplayMode(3)"><div class="perma_name">Manage misc</div></button></li>
    <navname><button @onclick="Back" class="generic-btn"><div class="perma_name">Go back to the main page</div></button></navname>
</ul>

<table>
    @if (smode == ScreenMode.Users)
    {
        <td style="background-color: rgba(51, 51, 51, 0.25); max-width:50%; vertical-align:central">
            <div class="generic-btn">
                <div style="font-family:Verdana; font-size:20px;">
                    All users are shown here
                </div>
            </div>
            @if (AllUsers is not null)
            {
                <div style="display:flex; flex-flow: row wrap; overflow:auto; max-height: 80%; max-width:450px;">
                    @foreach (User user in AllUsers)
                    {
                        <div class="dropdown" style="padding: 20px 0px 80px 0px;">
                            @if (SelectedUser is not null && SelectedUser.id == user.id)
                            {
                                <div class="perma_name dropbtn" style="background-color:#1dd3e2;">
                                    @user.username
                                </div>
                            }
                            else if (user.ishidden)
                            {
                                <div class="perma_name dropbtn" style="background-color:#ff6c00;">
                                    @user.username
                                </div>
                            }
                            else
                            {
                                <div class="perma_name dropbtn">
                                    @user.username
                                </div>
                            }
                            <div class="dropdown-content" style="padding: 10px 40px 0px 0px;">
                                @if (LoggedUser.id != user.id)
                                {
                                    @if (user.ishidden)
                                    {
                                        <button @onclick="() => RestoreUser(user)">
                                            Restore this user
                                        </button>
                                    }
                                    else
                                    {
                                        <button @onclick="() => DeleteUser(user)">
                                            Delete this user
                                        </button>
                                    }
                                }
                                <button @onclick="() => SelectUser(user)">
                                    View user's players
                                </button>
                            </div>
                        </div>
                    }
                </div>
            }
        </td>
        <td style="background-color:rgba(51, 51, 51, 0.25); max-width:300px;">
            <div class="generic-btn">
                <div style="font-family:Verdana; font-size:20px;">
                    User's players are here. Hover over each one to view more info
                </div>
            </div>
            @if (UsersPlayers is not null)
            {
                <div style="display:flex; flex-flow: row wrap; overflow:auto; max-height: 80%; max-width:450px;">
                    @foreach (Player player in UsersPlayers)
                    {
                        <div class="dropdown" style="padding: 20px 0px 80px 0px;">
                            @if (SelectedPlayer is not null && SelectedPlayer.id == player.id)
                            {
                                <div class="perma_name dropbtn" style="background-color:#1dd3e2">
                                    @player.name
                                </div>
                            }
                            else if (player.is_hidden)
                            {
                                <div class="perma_name dropbtn" style="background-color:#ff6c00">
                                    @player.name
                                </div>
                            }
                            else
                            {
                                <div class="perma_name dropbtn">
                                    @player.name
                                </div>
                            }
                            <div class="dropdown-content" style="padding: 10px 40px 0px 0px;">
                                @if (SelectedPlayer is not null && SelectedPlayer.id == player.id)
                                {
                                    <button @onclick="() => DeselectPlayer(player)">
                                        Unselect this player
                                    </button>
                                }
                                else
                                {
                                    <button @onclick="() => SelectPlayer(player)">
                                        Select this player
                                    </button>
                                }
                                @if (player.is_hidden)
                                {
                                    <button @onclick="() => UnhidePlayer(player)">
                                        Unhide this player
                                    </button>
                                }
                                else
                                {
                                    <button @onclick="() => HidePlayer(player)">
                                        Hide this player
                                    </button>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
        </td>
        <td style="background-color:rgba(51, 51, 51, 0.25); max-width:300px;">
            <div class="generic-btn">
                <div style="font-family:Verdana; font-size:20px;">
                    Player's inventory is here:
                </div>
            </div>
            @if (PlayersInv is not null && PlayersInv.Count != 0)
            {
                <div style="display:flex; flex-flow:column wrap; overflow:auto; max-width:inherit; max-height:80%;">
                    @foreach (Dictionary<string, object> Inv in PlayersInv)
                    {
                        <div class="dropdown" style="padding: 20px 10px 80px 10px;">
                            @if ((bool)(Inv["Inv_IsHidden"]))
                            {
                                <div class="perma_name dropbtn" style="background-color:#ff6c00;">
                                    @Inv["Name"] - @Inv["Amount"]/@Inv["MaxStack"] | Level @Inv["Item_Level"]
                                </div>
                            }
                            else if (SelectedItem is not null && (int)Inv["ItemID"] == SelectedItem.ItemID)
                            {
                                <div class="perma_name dropbtn" style="background-color:#1dd3e2;">
                                    @Inv["Name"] - @Inv["Amount"]/@Inv["MaxStack"] | Level @Inv["Item_Level"]
                                </div>
                            }
                            else
                            {
                                <div class="perma_name dropbtn">
                                    @Inv["Name"] - @Inv["Amount"]/@Inv["MaxStack"] | Level @Inv["Item_Level"]
                                </div>
                            }
                            @*                                 *@
                            <div class="dropdown-content" style="padding: 10px 40px 0px 0px;">
                                @if ((bool)(Inv["Inv_IsHidden"]))
                                {
                                    <button @onclick="() => RestoreItem(Inv)">
                                        Restore the item
                                    </button>
                                }
                                else
                                {
                                    <button @onclick="() => DeleteItem(Inv)">
                                        Delete the item (soft del.)
                                    </button>
                                }
                                @if (SelectedItem is not null && (int)Inv["ItemID"] == SelectedItem.ItemID)
                                {
                                    <button @onclick="() => DeselectItem(Inv)">
                                        Unselect the item
                                    </button>
                                }
                                else
                                {
                                    <button @onclick="() => SelectItem(Inv)">
                                        Select the item
                                    </button>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
        </td>
        <td style="background-color:rgba(51, 51, 51, 0.25); max-width:300px;">
            <div class="generic-btn">
                <div style="font-family:Verdana; font-size:20px;">
                    Player's entries are shown here
                </div>
            </div>
            @if (PlayersEntries is not null && PlayersEntries.Count != 0)
            {
                <div style="display:flex; flex-flow:column wrap; overflow:auto; max-width:inherit; max-height:730px">
                    @foreach (Dictionary<string, object> Inv in PlayersEntries)
                    {
                        <div class="dropdown" style="padding: 20px 10px 80px 10px;">
                            <div class="perma_name dropbtn">
                                @Inv["Name"] - @Inv["DateSlain"] & @Inv["TimesKilled"] times
                            </div>
                            <div class="dropdown-content" style="padding: 10px 40px 0px 0px;">
                            </div>
                        </div>
                    }
                </div>
            }
        </td>
        <td style="background-color:rgba(51, 51, 51, 0.25); max-width:500px; max-height:800px;">
            <div class="generic-btn">
                <div style="font-family:Verdana; font-size:20px;">
                    Miscellaneous actions are here
                </div>
            </div>
            @if (SelectedUser is not null)
            {
                <button class="generic-btn" @onclick="() => MakeThisUserAnAdmin(SelectedUser)">
                    <div style="font-family:Verdana; font-size:20px;">
                        Make this user an admin
                    </div>
                </button>
                @if (SelectedPlayer is not null)
                {
                    <button class="generic-btn" @onclick="() => DeletePlayer(SelectedPlayer)">
                        <div style="font-family:Verdana; font-size:20px;">
                            Delete the selected player
                        </div>
                    </button>
                    <form @onsubmit="GetItemsBySimilar">
                        <label for="itmLookup" class="generic-btn">Look up items, the more letters the more specific</label>
                        <input type="search" @bind-value="searchterm" id="itmLookup" />
                        <input type="submit" value="Search for items" />
                    </form>
                    @if (ItemsFound is not null)
                    {
                        <div style="display:flex; flex-flow: row wrap; overflow:auto; max-height:60%;">
                            @foreach (Item itm in ItemsFound)
                            {
                                <div class="dropdown" style="padding: 20px 0px 80px 0px;">
                                    @if (itm.is_hidden)
                                    {
                                        <div class="perma_name dropbtn" style="background-color:#ff6c00;">
                                            @itm.name
                                        </div>
                                    }
                                    else if (SelectedResult is not null && SelectedResult.id == itm.id)
                                    {
                                        <div class="perma_name dropbtn" style="background-color:#1dd3e2;">
                                            @itm.name
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="perma_name dropbtn">
                                            @itm.name
                                        </div>
                                    }
                                    <div class="dropdown-content" style="padding: 10px 40px 0px 0px;">
                                        <button @onclick="() => SelectGift(itm)">
                                            Gift this item to the player
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                }
            }
        </td>

    }
    @if (smode == ScreenMode.Monsters)
    {
        <td style="background-color: rgba(51, 51, 51, 0.25); max-width:450px; vertical-align:central">
            <div class="generic-btn">
                <div style="font-family:Verdana; font-size:20px;">
                    All monsters are shown here
                </div>
            </div>
            @if (AllMonsters is not null)
            {
                <div style="display:flex; flex-flow: row wrap; overflow:auto; max-height: 80%; max-width:450px;">
                    @foreach (Monster monster in AllMonsters)
                    {
                        <div class="dropdown" style="padding: 10px;" @onclick="() => SelectMonster(monster)">
                            @if (monster.ishidden)
                            {
                                <div class="perma_name dropbtn" style="background-color:#ff6c00;">
                                    @monster.name
                                </div>
                            }
                            else if (SelectedMonster is not null && SelectedMonster.id == monster.id)
                            {
                                <div class="perma_name dropbtn" style="background-color:#1dd3e2;">
                                    @monster.name
                                </div>
                            }
                            else
                            {
                                <div class="perma_name dropbtn">
                                    @monster.name
                                </div>
                            }
                        </div>
                    }
                </div>
            }
        </td>
        <td style="background-color: rgba(51, 51, 51, 0.25); max-width:450px; vertical-align:central">
            @if (SelectedMonster is not null)
            {
                <div class="generic-btn">
                    <div style="font-family:Verdana; font-size:20px;">
                        Selected monster:
                    </div>
                </div>
                <form @onsubmit="() => UpdateMonster(SelectedMonster)" class="generic-btn">
                    <label for="MonsterName">Name:</label>              <input @bind="SelectedMonster.name" type="text" id="MonsterName" /> <br />
                    <label for="MonsterFilepath">File path:</label>     <input @bind="SelectedMonster.filepath" type="text" id="MonsterFilepath" /> <br />
                    <label for="MonsterHP">HP:</label>                  <InputNumber @bind-Value="SelectedMonster.hp" min="1" id="MonsterHP" /> <br />
                    <label for="MonsterDefense">Defense:</label>        <InputNumber @bind-Value="SelectedMonster.defense" min="1" id="MonsterDefense" />    <br />
                    <label for="MonsterDescription">Description:</label><InputTextArea @bind-Value="SelectedMonster.description" id="MonsterDescription" rows="10" cols="30" /> <br />
                    <label for="MonsterSize">Size (double):</label>     <InputNumber @bind-Value="SelectedMonster.size" min="0.05" id="MonsterSize" />   <br />
                    <label for="MonsterRarity">Rarity:</label>          <InputNumber @bind-Value="SelectedMonster.rarity" min="1" id="MonsterRarity" /> <br />
                    <label for="MonsterElementSelect">Element of the monster: </label>
                    <select id="MonsterElementSelect" @bind="SelectedMonster.monsterElement">
                        @foreach (Element e in Elements)
                        {
                            <option value="@e.id">@e.name</option>
                        }
                        </select>
                    <label for="IsBossRadio">Is the monster a boss?</label><InputRadioGroup @bind-Value="SelectedMonster.isboss" id="IsBossRadio"> <br />
                        <label for="MonsterIsBoss">Boss</label>                 <InputRadio Value="2" id="MonsterIsBoss" /> <br />
                        <label for="MonsterIsMiniBoss">Miniboss</label>         <InputRadio Value="1" id="MonsterIsMiniBoss" /> <br />
                        <label for="MonsterIsNoBoss">Normal enemy</label>       <InputRadio Value="0" id="MonsterIsNoBoss" /> <br />
                                                                            </InputRadioGroup> <br />
                    <label for="MonsterIsHidden">Is hidden?</label>     <input @bind="SelectedMonster.ishidden" type="checkbox" id="MonsterIsHidden" /> <br />
                    <input type="submit" class="generic-btn" value="Update the monster"/>
                </form>
            }
        </td>
        <td style="background-color: rgba(51, 51, 51, 0.25); max-width:450px; vertical-align:central">
            <div class="generic-btn">
                <div style="font-family:Verdana; font-size:20px;">
                    Create a new monster:
                </div>
            </div>
            <form @onsubmit="() => AddMonster(MonsterDummy)" class="generic-btn">
                <label for="MonsterName">Name:</label>              <input @bind="MonsterDummy.name" type="text" id="MonsterName" /> <br />
                <label for="MonsterFilepath">File path:</label>     <input @bind="MonsterDummy.filepath" type="text" id="MonsterFilepath" /> <br />
                <label for="MonsterHP">HP:</label>                  <InputNumber @bind-Value="MonsterDummy.hp" min="1" id="MonsterHP" /> <br />
                <label for="MonsterDefense">Defense:</label>        <InputNumber @bind-Value="MonsterDummy.defense" min="1" id="MonsterDefense" />    <br />
                <label for="MonsterDescription">Description:</label><InputTextArea @bind-Value="MonsterDummy.description" id="MonsterDescription" rows="10" cols="30" /> <br />
                <label for="MonsterSize">Size (double):</label>     <InputNumber @bind-Value="MonsterDummy.size" min="0.05" id="MonsterSize" />   <br />
                <label for="MonsterRarity">Rarity:</label>          <InputNumber @bind-Value="MonsterDummy.rarity" min="1" id="MonsterRarity" /> <br />
                <label for="MonsterElementSelect">Element of the monster:</label>
                <select id="MonsterElementSelect" @bind="MonsterDummy.monsterElement">
                    @foreach (Element e in Elements)
                    {
                        <option value="@e.id">@e.name</option>
                    }
                </select>
                <label for="IsBossRadio">Is the monster a boss?</label><InputRadioGroup @bind-Value="MonsterDummy.isboss" id="IsBossRadio">
                    <br />
                    <label for="MonsterIsBoss">Boss</label>                 <InputRadio Value="2" id="MonsterIsBoss" /> <br />
                    <label for="MonsterIsMiniBoss">Miniboss</label>         <InputRadio Value="1" id="MonsterIsMiniBoss" /> <br />
                    <label for="MonsterIsNoBoss">Normal enemy</label>       <InputRadio Value="0" id="MonsterIsNoBoss" /> <br />
                </InputRadioGroup> <br />
                <label for="MonsterIsHidden">Is hidden?</label>     <input @bind="MonsterDummy.ishidden" type="checkbox" id="MonsterIsHidden" /> <br />
                <input type="submit" class="generic-btn" value="Update the monster" />
            </form>
        </td>
        <td style="background-color: rgba(51, 51, 51, 0.25); max-width:450px; vertical-align:central">
            <div class="generic-btn">
                <div style="font-family:Verdana; font-size:20px;">
                    Selected monster's attacks are here:
                </div>
            </div>
            @if (MonsterAttacks is not null && SelectedMonster is not null)
            {
                <div style="display:flex; flex-flow: row wrap; overflow:auto; max-height: 80%; max-width:450px;">
                    @foreach (Monster_Attacks matk in MonsterAttacks)
                    {
                        <div class="dropdown" style="padding: 10px;" @onclick="() => SelectMonsterAttack(matk)">
                            @if (matk.isHidden)
                            {
                                <div class="perma_name dropbtn" style="background-color:#ff6c00; font-family:Verdana;">
                                    @SelectedMonster.name: @AllAttacks[(matk.attackId) - 1].name
                                </div>
                            }
                            else if (SelectedMonsterAttack is not null && SelectedMonsterAttack.id == matk.id)
                            {
                                <div class="perma_name dropbtn" style="background-color:#1dd3e2;font-family:Verdana;">
                                    @SelectedMonster.name: @AllAttacks[(matk.attackId) - 1].name
                                </div>
                            }
                            else
                            {
                                <div class="perma_name dropbtn" style="font-family:Verdana;">
                                    @SelectedMonster.name: @AllAttacks[(matk.attackId) - 1].name
                                </div>
                            }
                        </div>
                    }
                </div>
            }
            @if (SelectedMonsterAttack is not null)
            {
                <div class="generic-btn">
                    <div style="font-family:Verdana; font-size:20px;">
                        Selected attack:
                    </div>
                </div>
                <div class="generic-btn">
                    <div style="font-family:Verdana; font-size:15px;">
                        @AllAttacks[(SelectedMonsterAttack.attackId) - 1].name | Increment: @(ShadowMonsterAttack.attack_Increment)
                    </div>
                </div>
                <form @onsubmit="() => UpdateMonsterAttack(SelectedMonsterAttack)" class="generic-btn">
                    <label for="ItemAttackIncrement">Level increment:</label>          <InputNumber @bind-Value="SelectedMonsterAttack.attack_Increment" id="ItemAttackIncrement" /> <br />
                    <select id="ItemAttackAttack" @bind="SelectedMonsterAttack.attackId">
                        @foreach (Attack atk in AllAttacks)
                        {
                            <option value="@atk.id">@atk.name</option>
                        }
                    </select>
                    <label for="ItemIsHidden">Is hidden?</label>     <input @bind="SelectedMonsterAttack.isHidden" type="checkbox" id="ItemIsHidden" /> <br />
                    <input type="submit" class="generic-btn" value="Update the attack" />
                </form>
            }
            <div class="generic-btn">
                <div style="font-family:Verdana; font-size:20px;">
                    Add an attack to the monster:
                </div>
            </div>
            <form @onsubmit="() => CreateMonsterAttack(MonsterAttackDummy)" class="generic-btn">
                <label for="ItemAttackIncrement">Level increment:</label>          <InputNumber @bind-Value="MonsterAttackDummy.attack_Increment" id="ItemAttackIncrement" min="0" /> <br />
                <select id="ItemAttackAttack" @bind="MonsterAttackDummy.attackId">
                    @foreach (Attack atk in AllAttacks)
                    {
                        <option value="@atk.id">@atk.name - @atk.damage damage</option>
                    }
                </select>
                <label for="ItemIsHidden">Is hidden?</label>     <input @bind="MonsterAttackDummy.isHidden" type="checkbox" id="ItemIsHidden" /> <br />
                <input type="submit" class="generic-btn" value="Add the attack" />
            </form>
        </td>
    }
    @if (smode == ScreenMode.Items)
    {
        <td style="background-color: rgba(51, 51, 51, 0.25); max-width:450px; vertical-align:central">
            <div class="generic-btn">
                <div style="font-family:Verdana; font-size:20px;">
                    All items are shown here
                </div>
            </div>
            @if (AllItems is not null)
            {
                <div style="display:flex; flex-flow: row wrap; overflow:auto; max-height: 80%; max-width:450px;">
                    @foreach (Item itm in AllItems)
                    {
                        <div class="dropdown" style="padding: 10px;" @onclick="() => SelectItemItem(itm)">
                            @if (itm.is_hidden)
                            {
                                <div class="perma_name dropbtn" style="background-color:#ff6c00;">
                                    @itm.name
                                </div>
                            }
                            else if (PickedItem is not null && PickedItem.id == itm.id)
                            {
                                <div class="perma_name dropbtn" style="background-color:#1dd3e2;">
                                    @itm.name
                                </div>
                            }
                            else
                            {
                                <div class="perma_name dropbtn">
                                    @itm.name
                                </div>
                            }
                        </div>
                    }
                </div>
            }
        </td>
        <td style="background-color: rgba(51, 51, 51, 0.25); max-width:450px; vertical-align:central">
            @if (PickedItem is not null)
            {
                <div class="generic-btn">
                    <div style="font-family:Verdana; font-size:20px;">
                        Selected item:
                    </div>
                </div>
                <form @onsubmit="() => UpdateItem(PickedItem)" class="generic-btn">
                    <label for="ItemName">Name:</label>                 <InputTextArea @bind-Value="PickedItem.name" id="ItemName" /> <br />
                    <label for="ItemFilepath">File path:</label>     <InputTextArea @bind-Value="PickedItem.filepath" id="ItemFilepath" /> <br />
                    <label for="ItemDescription">Description:</label><InputTextArea @bind-Value="PickedItem.description" id="ItemDescription" rows="10" cols="30" /> <br />
                    <label for="ItemRarity">Rarity:</label>          <InputNumber @bind-Value="PickedItem.rarity" min="1" id="ItemRarity" /> <br />
                    <label for="ItemValue">Value:</label>          <InputNumber @bind-Value="PickedItem.value" min="1" id="ItemValue" /> <br />
                    <label for="ItemIncrement">Level increment:</label>          <InputNumber @bind-Value="PickedItem.item_increment" min="1" id="ItemIncrement" /> <br />
                    <label for="ItemElementSelect">Element of the monster: </label>
                    <select id="ItemElementSelect" @bind="PickedItem.element_id">
                        @foreach(Element e in Elements)
                        {
                            <option value="@e.id">@e.name</option>
                        }
                    </select>
                    <select id="ItemType" @bind="PickedItem.item_type">
                        @foreach(Item_Type_Name ITN in ItemTypeNames)
                        {
                            <option value="@ITN.id">@ITN.name</option>
                        }
                    </select> <br />
                    <label for="ItemIsHidden">Is hidden?</label>     <input @bind="PickedItem.is_hidden" type="checkbox" id="ItemIsHidden" /> <br />
                    <label for="ItemMaxStack">Max stack:</label>          <InputNumber @bind-Value="PickedItem.MaxStack" min="1" id="ItemMaxStack" /> <br />
                    <input type="submit" class="generic-btn" value="Update the Item" />
                </form>
            }
        </td>
        <td style="background-color: rgba(51, 51, 51, 0.25); max-width:450px; vertical-align:central">
            <div class="generic-btn">
                <div style="font-family:Verdana; font-size:20px;">
                    Create a new item:
                </div>
            </div>
            <form @onsubmit="() => CreateItem(ItemDummy)" class="generic-btn">
                <label for="ItemName">Name:</label>                 <InputTextArea @bind-Value="ItemDummy.name" id="ItemName" /> <br />
                <label for="ItemFilepath">File path:</label>     <InputTextArea @bind-Value="ItemDummy.filepath" id="ItemFilepath" /> <br />
                <label for="ItemDescription">Description:</label><InputTextArea @bind-Value="ItemDummy.description" id="ItemDescription" rows="10" cols="30" /> <br />
                <label for="ItemRarity">Rarity:</label>          <InputNumber @bind-Value="ItemDummy.rarity" min="1" id="ItemRarity" /> <br />
                <label for="ItemValue">Value:</label>          <InputNumber @bind-Value="ItemDummy.value" id="ItemValue" /> <br />
                <label for="ItemIncrement">Level increment:</label>          <InputNumber @bind-Value="ItemDummy.item_increment" id="ItemIncrement" /> <br />
                <label for="ItemElementSelect">Element of the monster: </label>
                <select id="ItemElementSelect" @bind="ItemDummy.element_id">
                    @foreach (Element e in Elements)
                    {
                        <option value="@e.id">@e.name</option>
                    }
                </select>
                <select id="ItemType" @bind="ItemDummy.item_type">
                    @foreach (Item_Type_Name ITN in ItemTypeNames)
                    {
                        <option value="@ITN.id">@ITN.name</option>
                    }
                </select> <br />
                <label for="ItemIsHidden">Is hidden?</label>     <input @bind="ItemDummy.is_hidden" type="checkbox" id="ItemIsHidden" /> <br />
                <label for="ItemMaxStack">Max stack:</label>          <InputNumber @bind-Value="ItemDummy.MaxStack" min="1" id="ItemMaxStack" /> <br />
                <input type="submit" class="generic-btn" value="Create the Item" />
            </form>
        </td>
        <td style="background-color: rgba(51, 51, 51, 0.25); max-width:450px; vertical-align:central">
            <div class="generic-btn">
                <div style="font-family:Verdana; font-size:20px;">
                    Selected item's attacks are here:
                </div>
            </div>
            @if (PickedItem is not null && ItemAttacks is not null)
            {
                <div style="display:flex; flex-flow: row wrap; overflow:auto; max-height: 80%; max-width:450px;">
                    @foreach (Item_Attacks itmAtk in ItemAttacks)
                    {
                        <div class="dropdown" style="padding: 10px;" @onclick="() => SelectItemAttack(itmAtk)">
                            @if (itmAtk.IsHidden)
                            {
                                <div class="perma_name dropbtn" style="background-color:#ff6c00; font-family:Verdana;">
                                    @PickedItem.name: @AllAttacks[(itmAtk.AttackID)-1].name
                                </div>
                            }
                            else if (SelectedItemAttack is not null && SelectedItemAttack.id == itmAtk.id)
                            {
                                <div class="perma_name dropbtn" style="background-color:#1dd3e2;font-family:Verdana;">
                                    @PickedItem.name: @AllAttacks[(itmAtk.AttackID) - 1].name
                                </div>
                            }
                            else
                            {
                                <div class="perma_name dropbtn" style="font-family:Verdana;">
                                    @PickedItem.name: @AllAttacks[(itmAtk.AttackID) - 1].name
                                </div>
                            }
                        </div>
                    }
                </div>
            }
            @if (SelectedItemAttack is not null)
            {
                <div class="generic-btn">
                    <div style="font-family:Verdana; font-size:20px;">
                        Selected attack:
                    </div>
                </div>
                <div class="generic-btn">
                    <div style="font-family:Verdana; font-size:15px;">
                        @AllAttacks[(SelectedItemAttack.AttackID) - 1].name | Increment: @(ShadowItemAttack.Attack_Increment)
                    </div>
                </div>
                <form @onsubmit="() => UpdateItemAttack(SelectedItemAttack)" class="generic-btn">
                    <label for="ItemAttackIncrement">Level increment:</label>          <InputNumber @bind-Value="SelectedItemAttack.Attack_Increment" id="ItemAttackIncrement" /> <br />
                    <select id="ItemAttackAttack" @bind="SelectedItemAttack.AttackID">
                        @foreach (Attack atk in AllAttacks)
                        {
                            <option value="@atk.id">@atk.name</option>
                        }
                    </select>
                    <label for="ItemIsHidden">Is hidden?</label>     <input @bind="SelectedItemAttack.IsHidden" type="checkbox" id="ItemIsHidden" /> <br />
                    <input type="submit" class="generic-btn" value="Update the attack" />
                </form>
            }
            <div class="generic-btn">
                <div style="font-family:Verdana; font-size:20px;">
                    Add an attack to the item:
                </div>
            </div>
            <form @onsubmit="() => CreateItemAttack(ItemAttackDummy)" class="generic-btn">
                <label for="ItemAttackIncrement">Level increment:</label>          <InputNumber @bind-Value="ItemAttackDummy.Attack_Increment" id="ItemAttackIncrement" min="0" /> <br />
                <select id="ItemAttackAttack" @bind="ItemAttackDummy.AttackID">
                    @foreach (Attack atk in AllAttacks)
                    {
                        <option value="@atk.id">@atk.name - @atk.damage damage</option>
                    }
                </select>
                <label for="ItemIsHidden">Is hidden?</label>     <input @bind="ItemDummy.is_hidden" type="checkbox" id="ItemIsHidden" /> <br />
                <input type="submit" class="generic-btn" value="Add the attack" />
            </form>
        </td>
    }
    @if (smode == ScreenMode.Misc)
    {
        <td style="background-color: rgba(51, 51, 51, 0.25); max-width:750px; vertical-align:central">
            <div class="generic-btn">
                <div style="font-family:Verdana; font-size:20px;">
                    All attacks are here:
                </div>
            </div>
            @if (AllAttacks is not null)
            {
                <div style="display:flex; flex-flow: row wrap; overflow:auto; max-height: 750px; max-width:450px;">
                    @foreach (Attack atk in AllAttacks)
                    {
                        <div class="dropdown" style="padding: 10px;" @onclick="() => SelectAttack(atk)">
                            @if (atk.IsHidden)
                            {
                                <div class="perma_name dropbtn" style="background-color:#ff6c00;">
                                    @atk.name - @atk.damage damage
                                </div>
                            }
                            else if (SelectedAttack is not null && SelectedAttack.id == atk.id)
                            {
                                <div class="perma_name dropbtn" style="background-color:#1dd3e2;">
                                    @atk.name - @atk.damage damage
                                </div>
                            }
                            else
                            {
                                <div class="perma_name dropbtn">
                                    @atk.name - @atk.damage damage
                                </div>
                            }
                        </div>
                    }
                </div>
            }
        </td>
        <td style="background-color: rgba(51, 51, 51, 0.25); max-width:450px; vertical-align:central">
            <div class="generic-btn">
                <div style="font-family:Verdana; font-size:20px;">
                    Create a new Attack:
                </div>
            </div>
            <form @onsubmit="() => CreateAttack(AttackDummy)" class="generic-btn">
                <label for="DummyAttackName">Name:</label>                 <InputTextArea @bind-Value="AttackDummy.name" id="DummyAttackName" /> <br />
                <label for="DummyAttackFilepath">File path:</label>     <InputTextArea @bind-Value="AttackDummy.filepath" id="DummyAttackFilepath" /> <br />
                <label for="DummyAttackDamage">Damage:</label>          <InputNumber @bind-Value="AttackDummy.damage" min="1" id="DummyAttackDamage" /> <br />
                <label for="DummyAttackDecay">Decay:</label>          <InputNumber @bind-Value="AttackDummy.decay" min="0" id="DummyAttackDecay" /> <br />
                <label for="DummyAttackDecayFactor">Decay factor:</label>          <InputNumber @bind-Value:format="F2" @bind-Value="AttackDummy.decay_factor" min="0.01" id="DummyAttackDecayFactor" /> <br />
                <label for="DummyAttackDuration">Attack duration (in turns):</label>          <InputNumber @bind-Value="AttackDummy.duration" id="DummyAttackDuration" /> <br />
                <label for="DummyAttackElementSelect">Element of the attack: </label>
                <select id="DummyAttackElementSelect" @bind="AttackDummy.ElementID">
                    @foreach (Element e in Elements)
                    {
                        <option value="@e.id">@e.name</option>
                    }
                </select>
                <label for="DummyAttackIsHidden">Is hidden?</label>     <input @bind="AttackDummy.IsHidden" type="checkbox" id="DummyAttackIsHidden" /> <br />
                <input type="submit" class="generic-btn" value="Create the attack" />
            </form>
            }
            @if (SelectedAttack is not null)
            {
                <div class="generic-btn">
                    <div style="font-family:Verdana; font-size:20px;">
                        Selected Attack:
                    </div>
                </div>
                <form @onsubmit="() => UpdateAttack(SelectedAttack)" class="generic-btn">
                    <label for="AttackName">Name:</label>                 <InputTextArea @bind-Value="SelectedAttack.name" id="AttackName" /> <br />
                    <label for="AttackFilepath">File path:</label>     <InputTextArea @bind-Value="SelectedAttack.filepath" id="AttackFilepath" /> <br />
                    <label for="AttackDamage">Damage:</label>          <InputNumber @bind-Value="SelectedAttack.damage" min="1" id="AttackDamage" /> <br />
                    <label for="AttackDecay">Decay:</label>          <InputNumber @bind-Value="SelectedAttack.decay" min="0" id="AttackDecay" /> <br />
                    <label for="AttackDecayFactor">Decay factor:</label>          <InputNumber @bind-Value:format="F2" @bind-Value="SelectedAttack.decay_factor" min="0.01" id="AttackDecayFactor" /> <br />
                    <label for="AttackDuration">Attack duration (in turns):</label>          <InputNumber @bind-Value="SelectedAttack.duration" id="AttackDuration" /> <br />
                    <label for="AttackElementSelect">Element of the attack: </label>
                    <select id="AttackElementSelect" @bind="SelectedAttack.ElementID">
                        @foreach (Element e in Elements)
                        {
                            <option value="@e.id">@e.name</option>
                        }
                    </select>
                    <label for="AttackIsHidden">Is hidden?</label>     <input @bind="SelectedAttack.IsHidden" type="checkbox" id="AttackIsHidden" /> <br />
                    <input type="submit" class="generic-btn" value="Update the attack" />
                </form>
            }
        </td>
    }
</table>


<style>
    body {
        background-image: url('/img/bg/library.png');
    }
</style>

@code {
    enum ScreenMode { Users, Monsters, Items, Misc }
    ScreenMode smode = ScreenMode.Users;
    List<User> AllUsers; List<Player> UsersPlayers; List<Dictionary<string, object>> PlayersInv; List<Dictionary<string, object>> PlayersEntries; Inventory SelectedItem;
    User LoggedUser; User SelectedUser; Player SelectedPlayer;
    string searchterm; List<Item> ItemsFound; Item SelectedResult;
    List<Monster> AllMonsters; Monster SelectedMonster; Monster Shadow; Monster MonsterDummy = new Monster();
    List<Item> AllItems; Item PickedItem; Item ShadowItem; Item ItemDummy = new Item();
    List<Item_Attacks> ItemAttacks; Item_Attacks SelectedItemAttack; Item_Attacks ShadowItemAttack; Item_Attacks ItemAttackDummy = new Item_Attacks();
    List<Monster_Attacks> MonsterAttacks; Monster_Attacks SelectedMonsterAttack; Monster_Attacks ShadowMonsterAttack; Monster_Attacks MonsterAttackDummy = new Monster_Attacks();
    List<Attack> AllAttacks; Attack SelectedAttack; Attack ShadowAttack; Attack AttackDummy = new Attack();
    List<Element> Elements; List<Item_Type_Name> ItemTypeNames;
    [Inject] IJSRuntime JS { get; set; } = default!;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var tmp = await Session.GetAsync<User>("Logged user");
            if (tmp.Success)
            {
                LoggedUser = tmp.Value;
                if (!LoggedUser.isadmin) { await Back(); }
            }
        }
        catch (Exception ex)
        {
            await Task.Delay(150);
            await Back();
        }
    } //Gets the logged user and verifies logged user is an admin
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            AllUsers = await Middleman.GetAllUsers();
            AllMonsters = await Middleman.GetMonsters(true);
            AllItems = await Middleman.GetAllItems();
            Elements = await Middleman.GetAllElements();
            ItemTypeNames = await Middleman.GetAllItem_Type_Names();
            AllAttacks = await Middleman.GetAllAttacks();
            StateHasChanged();
        }
    } //Gets all users to manage
    private async Task Back() { NavMan.NavigateTo("/"); }
    private async Task DeleteUser(User user)
    {
        bool confirmed = await JS.InvokeAsync<bool>("confirm", "Are you sure you want to delete this user?");
        if (confirmed) { await Middleman.DeleteUser(user); }
        await PostActionCleanup();
    }
    private async Task RestoreUser(User user)
    {
        bool confirmed = await JS.InvokeAsync<bool>("confirm", "Are you sure you want to restore this user?");
        if (confirmed) { await Middleman.UnDeleteUser(user); }
        await PostActionCleanup();
    }
    private async Task PostActionCleanup()
    {
        AllUsers = await Middleman.GetAllUsers();
        await InvokeAsync(StateHasChanged);
    }
    private async Task Log_Out_Async()
    {
        await Session.DeleteAsync("Logged user");
        LoggedUser = null;
        await InvokeAsync(StateHasChanged);
    }
    private async Task SelectUser(User u)
    {
        SelectedUser = new User(); UsersPlayers = new List<Player>(); PlayersEntries = new List<Dictionary<string, object>>(); PlayersInv = new List<Dictionary<string, object>>();
        SelectedUser = new User(u);
        UsersPlayers = await Middleman.GetPlayers(u);
        await InvokeAsync(StateHasChanged);
    }
    private async Task SelectPlayer (Player p)
    {
        SelectedPlayer = new Player(); PlayersEntries = new List<Dictionary<string, object>>(); PlayersInv = new List<Dictionary<string, object>>();
        //Clears previous data
        SelectedPlayer = new Player(p);
        PlayersEntries = await Middleman.NewGetEntriesOfPlayer(p);
        PlayersInv = await Middleman.NewGetInvOfPlayer(p);
        await InvokeAsync(StateHasChanged);
    }
    private async Task DeselectPlayer (Player p)
    {
        SelectedPlayer = null; SelectedItem = null; PlayersEntries = null; PlayersInv = null;
        await InvokeAsync(StateHasChanged);
    }
    private async Task SelectItem(Dictionary<string, object> dict)
    {
        SelectedItem = new Inventory(await ItemDictToInv(dict));
        await InvokeAsync(StateHasChanged);
    }
    private async Task DeselectItem(Dictionary<string,object> dict)
    {
        SelectedItem = null;
        await InvokeAsync(StateHasChanged);
    }
    private async Task<Inventory> ItemDictToInv(Dictionary<string, object> dict)
    {
        Inventory inventory = new Inventory(
            Convert.ToInt32(dict["InventoryID"]), 
            Convert.ToInt32(dict["PlayerID"]), 
            Convert.ToInt32(dict["ItemID"]), 
            Convert.ToInt32(dict["Item_Level"]), 
            Convert.ToBoolean(dict["Inv_IsHidden"]), 
            Convert.ToInt32(dict["Amount"])
        );
        return inventory;
    }
    private async Task DeleteItem(Dictionary<string,object> dict)
    {
        Inventory inv = new Inventory(await ItemDictToInv(dict));
        Inventory inv2 = new Inventory(inv); 
        inv2.IsHidden = true;
        await Middleman.UpdateInv(inv, inv2);
        PlayersInv = await Middleman.NewGetInvOfPlayer(SelectedPlayer);
        await InvokeAsync(StateHasChanged);
    }
    private async Task RestoreItem(Dictionary<string,object> dict)
    {
        Inventory inv = new Inventory(await ItemDictToInv(dict));
        Inventory inv2 = new Inventory(inv); inv2.IsHidden = false;
        await Middleman.UpdateInv(inv, inv2);
        PlayersInv = await Middleman.NewGetInvOfPlayer(SelectedPlayer);
        await InvokeAsync(StateHasChanged);
    }
    private async Task DeletePlayer(Player p)
    {
        bool confirmed = await JS.InvokeAsync<bool>("confirm", "Are you sure you want to delete this player? This action cannot be undone!");
        if (confirmed) 
        { 
            await Middleman.DeletePlayerAndReferences(p); 
            SelectedPlayer = null;
        }
        UsersPlayers = await Middleman.GetPlayers(SelectedUser.id);
        await InvokeAsync(StateHasChanged);
    }
    private async Task HidePlayer(Player p)
    {
        Player p2 = new Player(p);
        p2.is_hidden = true;
        await Middleman.UpdatePlayer(p, p2);
        await InvokeAsync(StateHasChanged);
    }
    private async Task UnhidePlayer(Player p)
    {
        Player p2 = new Player(p);
        p2.is_hidden = false;
        await Middleman.UpdatePlayer(p, p2);
        await InvokeAsync(StateHasChanged);
    }
    private async Task GetItemsBySimilar()
    {
        ItemsFound = await Middleman.GetItemsBySimilar(searchterm);
        await InvokeAsync(StateHasChanged);
    }
    private async Task SelectGift(Item itm)
    {
        SelectedResult = itm;
        bool confirmed = await JS.InvokeAsync<bool>("confirm", $"Are you sure you want to give the player {SelectedPlayer.name} a {itm.name}?");
        if (confirmed)
        {
            await Middleman.GiveItem(itm.id, SelectedPlayer);
            PlayersInv = await Middleman.NewGetInvOfPlayer(SelectedPlayer);
            await InvokeAsync(StateHasChanged);
        }
    }
    private async Task MakeThisUserAnAdmin(User user)
    {
        bool confirmed; User temp;
        if (user.isadmin)
        {
            confirmed = await JS.InvokeAsync<bool>("confirm", $"Are you sure you want to remove {user.username}'s admin powers?");
            temp = new User(user);
            user.isadmin = false;
            await Middleman.UpdateUser(temp,user);
        }
        else
        {
            confirmed = await JS.InvokeAsync<bool>("confirm", $"Are you sure you want to make {user.username} an admin?");
            temp = new User(user);
            user.isadmin = true;
            await Middleman.UpdateUser(temp, user);
        }
        await InvokeAsync(StateHasChanged);
    }
    private async Task SetDisplayMode(int mode)
    {
        smode = (ScreenMode)mode;
        await InvokeAsync(StateHasChanged);
    }
    private async Task SelectMonster(Monster m)
    {
        if (SelectedMonster is null || SelectedMonster.id != m.id)
        {
            SelectedMonster = new Monster(m);
            Shadow = new Monster(m);
            MonsterAttacks = await Middleman.GetAllAttacksOfMonster(m.id);
        }
        else
        {
            SelectedItem = null;
            Shadow = null;
            MonsterAttacks = null;
        }
        await InvokeAsync(StateHasChanged);
    }
    private async Task UpdateMonster(Monster M)
    {
        await Middleman.UpdateMonster(Shadow, SelectedMonster);
        AllMonsters = await Middleman.GetMonsters(true);
        await InvokeAsync(StateHasChanged);
    }
    private async Task AddMonster(Monster M)
    {
        await Middleman.InsertGetMonster(M);
        AllMonsters = await Middleman.GetMonsters(true);
        await InvokeAsync(StateHasChanged);
    }
    private async Task SelectItemItem(Item itm)
    {
        if (PickedItem is null || PickedItem.id != itm.id)
        {
            PickedItem = new Item(itm);
            ShadowItem = new Item(itm);
            ItemAttacks = await Middleman.GetItemAttacksByItem(PickedItem.id);
        }
        else
        {
            PickedItem = null;
            ShadowItem = null;
            ItemAttackDummy = null;
        }
        await InvokeAsync(StateHasChanged);
    }
    private async Task UpdateItem(Item itm)
    {
        await Middleman.UpdateItem(ShadowItem, itm);
        AllItems = await Middleman.GetAllItems();
        await InvokeAsync(StateHasChanged);
    }
    private async Task CreateItem(Item itm)
    {
        await Middleman.InsertGetItem(itm);
        AllItems = await Middleman.GetAllItems();
        await InvokeAsync(StateHasChanged);
    }
    private async Task SelectItemAttack(Item_Attacks itmatk)
    {
        if (SelectedItemAttack is null || SelectedItemAttack.id != itmatk.id)
        {
            SelectedItemAttack = new Item_Attacks(itmatk);
            ShadowItemAttack = new Item_Attacks(itmatk);
            ItemAttackDummy.ItemID = itmatk.id;
        }
        else
        {
            SelectedItemAttack = null;
            ShadowItemAttack = null;
            ItemAttackDummy = new Item_Attacks();
        }
        await InvokeAsync(StateHasChanged);
    }
    private async Task CreateItemAttack(Item_Attacks itmatk)
    {
        await Middleman.InsertGetItemAttack(itmatk);
        if (ItemAttacks is null)
        {
            ItemAttacks = new List<Item_Attacks>();
        }
        ItemAttacks.Add(new Item_Attacks(itmatk));
        await InvokeAsync(StateHasChanged);
    }
    private async Task UpdateItemAttack(Item_Attacks itmatk)
    {
        await Middleman.UpdateItemAttack(ShadowItemAttack, itmatk);
        ItemAttacks = await Middleman.GetItemAttacksByItem(SelectedItem.Id);
        await InvokeAsync(StateHasChanged);
    }
    private async Task SelectMonsterAttack(Monster_Attacks matk)
    {
        if (SelectedMonsterAttack is null || SelectedMonsterAttack.id != matk.id)
        {
            SelectedMonsterAttack = new Monster_Attacks(matk);
            ShadowMonsterAttack = new Monster_Attacks(matk);
        }
        else
        {
            SelectedMonsterAttack = null;
            ShadowMonsterAttack = null;
        }
        await InvokeAsync(StateHasChanged);
    }
    private async Task CreateMonsterAttack(Monster_Attacks matk)
    {
        await Middleman.InsertGetMonsterAttack(matk);
        if (MonsterAttacks is null)
        {
            MonsterAttacks = new List<Monster_Attacks>();
        }
        MonsterAttacks.Add(new Monster_Attacks(matk));
        await InvokeAsync(StateHasChanged);
    }
    private async Task UpdateMonsterAttack(Monster_Attacks matk)
    {
        await Middleman.UpdateMonsterAttack(ShadowMonsterAttack, matk);
        MonsterAttacks = await Middleman.GetAllAttacksOfMonster(matk.monsterId);
        await InvokeAsync(StateHasChanged);
    }
    private async Task SelectAttack(Attack atk)
    {
        if (SelectedAttack is null || SelectedAttack.id != atk.id)
        {
            SelectedAttack = new Attack(atk);
            ShadowAttack = new Attack(atk);
        }
        else
        {
            SelectedAttack = null;
            ShadowAttack = null;
        }
        await InvokeAsync(StateHasChanged);
    }
    private async Task CreateAttack(Attack atk)
    {
        await Middleman.InsertGetAttack(atk);
        if (AllAttacks is null)
        {
            AllAttacks = new List<Attack>();
        }
        AllAttacks.Add(new Attack(atk));
        await InvokeAsync(StateHasChanged);
    }
    private async Task UpdateAttack(Attack atk)
    {
        await Middleman.UpdateAttack(ShadowAttack, atk);
        AllAttacks = await Middleman.GetAllAttacks();
        await InvokeAsync(StateHasChanged);
    }
}
