@page "/Players"
@using DBL
@using Models
@inject NavigationManager NavMan
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage Session

<h1 class="header">Select a Player from the ones you made</h1>
<table style="width: 100%; margin: 0 auto; border-collapse: collapse;">
    <tr>
        @if (UserDoesExist)
        {
            <div class="button-container">
                @if (Playerlist is not null)
                {
                    @foreach (Player pingle_pongle in Playerlist)
                    {
                        <button class="generic-btn" @onclick="() => SelectPlayerAndGoToTheDungeon(pingle_pongle)">
                            <div class="perma_name">
                                @pingle_pongle.name<br />
                            </div>
                            <div class="tooltip">
                                HP: @pingle_pongle.hp | Mana: @pingle_pongle.mana <br />
                                @pingle_pongle.name.Split([' ', ',', '-', '<', '>', '(', ')'])[0] has @pingle_pongle.coins coins
                                @*Name trimming, luh mao am I bored*@
                            </div>
                        </button>
                    }
                }
                else
                {
                    <div class="generic-btn">
                        <div class="perma_name">
                            You have no characters!<br />Make one!
                        </div>
                    </div>
                }
                <button class="generic-btn" @onclick="Back">
                    <div class="perma_name">
                        Go back to the main page
                    </div>
                </button>
            </div>
        }
        else
        {
            <iframe width="640"
                    height="480"
                    src="https://www.youtube.com/embed/WFg0vTeXhWs"
                    title="Oh, Hi mr frog :)"
                    frameborder="0"
                    allow="autoplay; fullscreen;">
            </iframe>
            <button class="generic-btn" @onclick="() => NavMan.NavigateTo(Login)">
                <div class="perma_name">Go to the login page.<br />You are not logged in >:( </div>
            </button>
        }

    </tr>
</table>
@if (UserDoesExist)
{
    <form @onsubmit="CreatePlr">
        <div class="button-container">
            <input class="generic-btn" @bind-value="playername" placeholder="Enter a name for a new character" style="font-size:20px; font-family:Forte;" required pattern="^.{0,20}$" title="Please input a name under 20 characters long" />
            <button class="generic-btn" type="submit">
                <div class="perma_name">Create the new character!</div>
            </button>
            <button class="generic-btn" type="reset">
                <div class="perma_name">Reset all fields</div>
            </button>
            @if (response is not null)
            {
                <button class="generic-btn">
                    <div class="perma_name">
                        @response
                    </div>
                </button>
            }
        </div>
    </form>
}

<style>
    body {
        background-image: url('img/bg/noticing.png');
    }
</style>

@code {
    User LoggedUser;
    List<Player> Playerlist;
    bool UserDoesExist;
    private string eye = "<o>"; private string Login = "Login"; private string response = null; private List<string> Player_Display_String = new List<string>();
    string playername;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var tmp = await Session.GetAsync<User>("Logged user");
            if (tmp.Success)
            {
                LoggedUser = tmp.Value;
                UserDoesExist = true;
                Playerlist = await Middleman.GetPlayers(LoggedUser.id);
            }
            else { UserDoesExist = false; }
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            await Task.Delay(150);
            await Back();
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

        }
    }
    private async Task Back() { NavMan.NavigateTo("/"); }
    private async Task Log_Out_Async()
    {
        await Session.DeleteAsync("Logged user");
        LoggedUser = null;
        UserDoesExist = false;
        await Back();
    }
    private async Task CreatePlr()
    {
        Player tmp = await Middleman.InsertGetPlayer(playername,LoggedUser.id);
        if (Playerlist is null)
        {
            Playerlist = new List<Player>();
        }
        Playerlist.Add(tmp);
        await Task.Delay(150);
        StateHasChanged();
    }
    private async Task SelectPlayerAndGoToTheDungeon(Player p)
    {
        await Session.SetAsync("Selected player", p);
        NavMan.NavigateTo("/Dungeon");
    }
    private async Task PlayerDescription(Player p)
    {
        Player_Display_String.Add($"HP: {p.hp} | Mana: {p.mana}");
        Player_Display_String.Add($"{p.name.Split([' ', ',', '-', '<', '>', '(', ')'])[0]} has {p.coins} coins");
    }
}
